body {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-result {
  background-color: lightgrey;
  border: #222 1px solid;
  margin: 10px;
  padding-bottom: 5px;
}

.App-result .stream-url {
	font-family: monospace;
	margin: 15px 25px 15px 25px;
	padding: 1px;
	border-style: dashed;
	border-width: .9px;
	background-color: #ededed;
}

.live-generator-form {
	padding-top: 20px;
}

.Footer {
	margin-top: 50px;
}